.gslide-media {
    &.gslide-image {
        img {
            margin: 0 auto;
        }
    }
}

.gclose {
    top: 26px !important;
    
    
    &.gbtn {
        display: block !important;
    }
}

.glightbox-container .gslider {
    z-index: 10 !important;
}