
                <div class="c-appform c-appform--thanks js-appform is-visible">
                    
                        
                    <form action="#" class="c-appform__content js-appform__content is-visible">
                        
                        <div class="c-appform__inside">
                            
                            <div class="c-appform__thanks">
                                
                                <h3>Thank you for your application</h3>
                                
                                <i class="icon-tick"></i>
                            </div>
                            
                        </div>
                    </form>

                </div>
