
                <div class="o-controls">
                    
                    <div class="dots js-group--dots">
                        <i class="dot is-selected"></i>
                        <i class="dot"></i>
                        <i class="dot"></i>
                    </div>
                    
                    <div class="arrows">
                        <i class="icon-arrow-left js-previous"></i>
                        <i class="icon-arrow-right js-next"></i>
                    </div>
                </div>
                
                
