
    <div class="c-cookies move-out" id="cookies">
        <div class="c-cookies__text">
            
            <img srcset="./img/assets/cookie.png 1x, ./img/assets/cookie@2x.png 2x" src="./img/assets/cookie.png" alt="cookie">
            
            By browsing this website, you consent to our <a href="#" target="_blank" rel="noopener">Privacy Policy</a>.
        </div>
        
        <div class="c-cookies__btn">
            <a href="#" class="o-btn o-btn--small js-accept">I accept</a>
        </div>
    </div>
