
                <div class="c-download">
                    <div class="o-cols o-cols--2">
                        <div class="o-cols__item">
                            <div class="o-box">                            
                                <header class="o-header">
                                    <h4 class="title">JunkYard Simulator</h4>
                                    <h6 class="subtitle">PressKit</h6>
                                </header>
                                
                                <article class="o-article">
                                    <p>Game information</p>
                                    <p>Game screens</p>
                                    <p>Game/Publisher/Developer logos</p>
                                </article>
                                
                                <a href="#" class="o-btn">
                                    <span>Download PressKit</span>
                                    <i class="icon-download"></i>
                                </a>
                            </div>
                        </div>
                        
                        <div class="o-cols__item">
                            <div class="o-box">                            
                                <header class="o-header">
                                    <h4 class="title">Rebelia Games</h4>
                                    <h6 class="subtitle">PressKit</h6>
                                </header>
                                
                                <article class="o-article">
                                    <p>About Rebelia</p>
                                    <p>About founder</p>
                                    <p>Logos, Photos</p>
                                </article>
                                
                                <a href="#" class="o-btn">
                                    <span>Download PressKit</span>
                                    <i class="icon-download"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
