
                    <div class="c-filters c-filters--dark" id="filters">
                        <div class="c-filters__content">
                            
                            <div class="c-filters__trace js-trace">
                                <ul class="js-nav">
                                    <li class="is-active">
                                        <a href="#" class="item js-item">PewDiePie</a>
                                    </li>
                                    
                                    <li>
                                        <a href="#" class="item js-item">Feernanfloo</a>
                                    </li>
                                    
                                    <li>
                                        <a href="#" class="item js-item">ElRubiusOMG</a>
                                    </li>
                                    
                                    <li>
                                        <a href="#" class="item js-item">Slider</a>
                                    </li>
                                </ul>
                                
                                <span class="c-filters__target js-target"></span>
                            </div>                                    
                        </div>
                    </div>
