
                <div class="c-filters c-filters--light" id="filters2">
                    <div class="c-filters__content">
                        
                        <div class="c-filters__trace c-filters--static js-trace">
                            <ul>
                                <li class="is-active">
                                    <a href="#" class="item js-item">All news</a>
                                </li>
                                <li>
                                    <a href="#" class="item js-item">Company</a>
                                </li>
                                
                                <li>
                                    <a href="#" class="item js-item">Company</a>
                                </li>
                            </ul>
                            
                            <span class="c-filters__target js-target"></span>
                        </div>
                        
                    </div>
                </div>
