
    <footer class="c-footer">
        <div class="o-wrap o-wrap--narrow">
            
            <% include logo %>

            <aside>
                <nav class="c-navfooter">
                    <h6>Company</h6>
                    
                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        
                        <li>
                            <a href="news.html">News</a>
                        </li>
                        
                        <li class="js-jobs">
                            <a href="jobs.html">Jobs</a>
                        </li>
                        
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                        
                        <li>
                            <a href="press.html">Press</a>
                        </li>
                        
                        <li>
                            <a href="privacy.html">Privacy Policy</a>
                        </li>                        
                    </ul>
                </nav>
            </aside> 
            
            <aside>
                <nav class="c-navfooter">
                    <h6>Games</h6>
                    
                    <ul>
                        <li>
                            <a href="#">JunkYard Simulator</a>
                        </li>
                    </ul>
                </nav>
            </aside> 
            
            <aside>
                <nav class="c-navfooter">
                    <h6>Follow us</h6>
                    
                    <ul>
                        <li>
                            <a href="#">Facebook</a>
                        </li>
                        
                        <li>
                            <a href="#">Twitter</a>
                        </li>
                        
                        <li>
                            <a href="#">LinkedIn</a>
                        </li>
                        
                        <li>
                            <a href="#"></a>
                        </li>
                        
                        <li>
                            <a href="#"></a>
                        </li>
                    </ul>
                </nav>
            </aside>
            
            <aside>
                <% include nav__lang %>
                
                <p class="copyrights">&copy; 2019 Rebelia Games</p>
                
                <ul class="logotypes">
                    <li>
                        <i class="icon-playway"></i>
                    </li>
                    
                    <li>
                        <i class="icon-steam-footer"></i>
                    </li>
                    
                    <li>
                        <i class="icon-unreal"></i>
                    </li>
                </ul>
            </aside>
        </div>
    </footer>
    

    <script>
        var jobsCount = 1;
    </script>

    <% include cookies %>
    <% include apla %>
