
    <div class="c-header" style="background-image: url('./img/photos/bg/junk-yard.jpg');">
        <div class="o-wrap o-wrap--narrow padding">
        
            <div class="c-header__title">
            
                <figure>
                    <div class="logo">
                        <img srcset="./img/assets/logo-junk.png 1x,
        				             ./img/assets/logo-junk@2x.png 2x"
        				     src="./img/assets/logo-junk.png" alt="Junkyard simulator">
                    </div>
    
                    <figcaption>
                        <p class="first">JunkYard Simulator</p>
                        <p class="second">by 2 Rebelians and the PlayWay</p>
                    </figcaption>
                </figure>
            </div>
            
            <div class="c-header__cta">
                <a href="#" class="o-btn">Buy on <i class="icon-steam-button"></i></a>
                
                <div class="o-more o-more--arrowdown">
                    <a href="#" class="icon-arrow-right js-goto"></a>
                </div>
            </div>
        </div>
    </div>
