
    <div class="c-header" style="background-image: url('./img/photos/bg/header.jpg');">
        <div class="o-wrap o-wrap--narrow padding">
            <div class="c-header__title">
                
                <figure>
                    <div class="logo">
                        <img srcset="./img/assets/logo-junk.png 1x,
        				             ./img/assets/logo-junk@2x.png 2x"
        				     src="./img/assets/logo-junk.png" alt="Junkyard simulator">
                    </div>
    
                    <figcaption>
                        <p class="first">You’ve never seen before a&nbsp;Simulator like this</p>
                    </figcaption>
                </figure>
            </div>
            
            <div class="c-header__cta">
                <a href="#" class="o-btn">Buy on <i class="icon-steam-button"></i></a>
                
                <div class="o-more o-more--arrowright">
                    <a href="junk-yard.html" class="more">Learn more</a>
                </div>
            </div>
        </div>
    </div>
