
    <div class="c-hometrailers">

        <div class="o-cols">
            <div class="o-cols__item anim anim--left">
                
                <div class="c-trailers c-trailers--gray">
                    <div class="o-section o-section--paddings">
                        
                        <article class="o-article">
                            <h2>Watch the Final Trailer</h2>
                            <p>It’s hard to explain what business on the Junk Yard looks like.</p>
                            <p>That’s why we made a game about it.</p>
                        </article>
        
                        
                        <div class="o-trailer">                    
                            <a href="https://www.youtube.com/embed/917pnQrog9g?controls=0" class="o-trailer__video o-trailer__video--shadow o-trailer__video--small o-trailer__video--youtube js-video">
                                <img srcset="./img/photos/placeholders/final-trailer.jpg 1x,
                				             ./img/photos/placeholders/final-trailer@2x.jpg 2x"
                				     src="./img/photos/placeholders/final-trailer.jpg" alt="">
                            </a>                        
        
                            <div class="o-more">
                                <a href="junk-yard.html" class="o-btn">Take a tour</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
            <div class="o-cols__item anim anim--right">
                
                <div class="c-trailers c-trailers--dark">
                    <div class="o-section o-section--paddings">
                        
                        <article class="o-article">
                            <h2 class="o-lead o-leaad--2">YouTubers already played</h2> 
                        </article>

                        <div class="o-trailer">                                
                            
                            <% include filters--dark %>                          
                        
                            <div class="main-carousel" id="played">
                                <div class="carousel-cell">
                                    <a href="https://www.youtube.com/embed/917pnQrog9g?controls=0" class="o-trailer__video o-trailer__video--small o-trailer__video--youtube  js-video">
                                    <img srcset="./img/photos/placeholders/already-played--small.jpg 1x,
                    				             ./img/photos/placeholders/already-played--small@2x.jpg 2x"
                    				     src="./img/photos/placeholders/already-played--small.jpg" alt="">
                                    </a>
                                </div>
    
                                <div class="carousel-cell">
                                    <a href="https://www.youtube.com/embed/917pnQrog9g?controls=0" class="o-trailer__video o-trailer__video--small o-trailer__video--youtube  js-video">
                                    <img srcset="./img/photos/placeholders/already-played--small.jpg 1x,
                    				             ./img/photos/placeholders/already-played--small@2x.jpg 2x"
                    				     src="./img/photos/placeholders/already-played--small.jpg" alt="">
                                    </a>
                                </div>
                                
                                <div class="carousel-cell">
                                    <a href="https://www.youtube.com/embed/917pnQrog9g?controls=0" class="o-trailer__video o-trailer__video--small o-trailer__video--youtube  js-video">
                                    <img srcset="./img/photos/placeholders/already-played--small.jpg 1x,
                    				             ./img/photos/placeholders/already-played--small@2x.jpg 2x"
                    				     src="./img/photos/placeholders/already-played--small.jpg" alt="">
                                    </a>
                                </div>
                                
                                <div class="carousel-cell">
                                    <a href="https://www.youtube.com/embed/917pnQrog9g?controls=0" class="o-trailer__video o-trailer__video--small o-trailer__video--youtube  js-video">
                                    <img srcset="./img/photos/placeholders/already-played--small.jpg 1x,
                    				             ./img/photos/placeholders/already-played--small@2x.jpg 2x"
                    				     src="./img/photos/placeholders/already-played--small.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        
                        
                            <article class="o-article o-article--big">
                                <p>Thanks, that was funny to watch!</p>
                                <p>＼\ ٩( ᐛ )و /／</p>
                            </article>                    
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
