
                <ul class="c-jobs__list">
                    <li class="anim anim--up">
                        <a href="join.html" class="c-jobs__item">
                            <p class="name">3D Character Artist</p>
                            <p class="time">Full time</p>
                        </a>
                    </li>
                    
                    <li class="anim anim--up">
                        <a href="join.html" class="c-jobs__item">
                            <p class="name">Gameplay Programmer</p>
                            <p class="time">Full time</p>
                        </a>
                    </li>
                    
                    <li class="anim anim--up">
                        <a href="join.html" class="c-jobs__item">
                            <p class="name">Level Designer</p>
                            <p class="time">Full time</p>
                        </a>
                    </li>
                </ul>
