
    <div class="c-jobs anim anim--up">
        <div class="o-section o-section--paddings">
            <div class="o-wrap o-wrap--narrow2">
                
                <article class="o-article o-article--margin o-article--big aligncenter">
                    <h2>Jobs board</h2>
                    
                    <p>We're looking for the craziest and most driven team players.</p>
                    <p>Join our growing team.</p>

                </article>
                
                <% include jobs__list %>
                
                <div class="o-more anim anim--up">
                    <a href="jobs.html" class="o-btn">Browse all jobs</a>
                </div>
            </div>
        </div>
    </div>
