
    <div class="c-mechanics anim anim--up" style="display: none">
        <div class="o-section o-section--paddings">
            <div class="o-wrap o-wrap--narrow2">
                
                <article class="o-article o-article--big o-article--margin aligncenter">
                    <h2>Game Mechanics</h2>
                    
                    <p>Explore the most important mechanics of the Junk Yard gameplay.</p>
                </article>
            </div>
            
            <div class="o-wrap">
                
                <div class="main-carousel anim anim--up" id="mechanics">
                    <div class="carousel-cell">
                        <div class="o-trailer o-trailer--mechanics">
                            <div class="o-trailer__video o-trailer__video--youtube o-trailer__video o-trailer__video--youtube--big">                                                                
                                <img srcset="./img/photos/placeholders/mechanics-01.jpg 1x, ./img/photos/placeholders/mechanics-01@2x.jpg 2x" src="./img/photos/placeholders/mechanics-01.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    
                    <div class="carousel-cell">
                        <div class="o-trailer o-trailer--mechanics">
                            <div class="o-trailer__video o-trailer__video--youtube o-trailer__video o-trailer__video--youtube--big">                                                                
                                <img srcset="./img/photos/placeholders/mechanics-01.jpg 1x, ./img/photos/placeholders/mechanics-01@2x.jpg 2x" src="./img/photos/placeholders/mechanics-01.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    
                    <div class="carousel-cell">
                        <div class="o-trailer o-trailer--mechanics">
                            <div class="o-trailer__video o-trailer__video--youtube o-trailer__video o-trailer__video--youtube--big">                                                                
                                <img srcset="./img/photos/placeholders/mechanics-01.jpg 1x, ./img/photos/placeholders/mechanics-01@2x.jpg 2x" src="./img/photos/placeholders/mechanics-01.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                
                <% include controls %>
                
            </div>
        </div>
    </div>
