
    <div class="c-mechanics anim anim--up">
        <div class="o-section o-section--paddings">
            
            <div class="o-wrap o-wrap--narrow2">
                <article class="o-article o-article--big o-article--margin aligncenter">
                    <h2>Game Mechanics</h2>
                    
                    <p>Explore the most important mechanics of the Junk Yard gameplay.</p>
                </article>
            </div>

            <div class="c-mechanics__videos">
                <div class="main-carousel main-carousel--withmobile anim anim--up" id="mechanics">
                    <div class="carousel-cell">
                        <div class="o-trailer o-trailer--mechanics">
                            <div class="o-trailer__video o-trailer__video--mp4 o-trailer__video--shadow o-trailer__video js-vimeo">                                                                
                                
                                <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/397156289?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" id="test1" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>

                            </div>
                        </div>
                    </div>
                    
                    <div class="carousel-cell">
                        <div class="o-trailer o-trailer--mechanics">
                            <div class="o-trailer__video o-trailer__video--mp4 o-trailer__video--shadow o-trailer__video js-vimeo">                                                                
                                
                                <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/397156289?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" id="test2" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>

                            </div>
                        </div>
                    </div>
                    
                    <div class="carousel-cell">
                        <div class="o-trailer o-trailer--mechanics">
                            <div class="o-trailer__video o-trailer__video--mp4 o-trailer__video--shadow o-trailer__video js-vimeo">                                                                
                                
                                <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/397156289?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" id="test3" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>

                            </div>
                        </div>
                    </div>
                    
                  

                </div>
                
                <div class="o-wrap o-wrap--narrow2">
                    <% include controls %>
                </div>
            </div>
            
                
            <div class="c-mechanics__info">
                <div class="o-wrap o-wrap--narrow2">
                    <div class="main-carousel" id="mechanicsInfo">
                        <div class="carousel-cell">
                            <article class="o-article o-article--single">
                                <h2 class="title">Find and Sell</h2>
                                        
                                <p>Armono ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque velit ac turpis vulputate pretium. Sed eget placerat magna. Morbi ut quam euismod neque pulvinar luctus. </p>
                            </article>
                        </div>
                        
                        <div class="carousel-cell">
                            <article class="o-article o-article--single">
                                <h2 class="title">Find and Sell</h2>
                                        
                                <p>Armono ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque velit ac turpis vulputate pretium. Sed eget placerat magna. Morbi ut quam euismod neque pulvinar luctus. </p>
                            </article>
                        </div>
                        
                        <div class="carousel-cell">
                            <article class="o-article o-article--single">
                                <h2 class="title">Find and Sell</h2>
                                        
                                <p>Armono ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque velit ac turpis vulputate pretium. Sed eget placerat magna. Morbi ut quam euismod neque pulvinar luctus. </p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
