
            <nav class="c-nav js-nav">
                <ul class="c-nav__menu js-menu">
                    <li class="current-menu-item">
                        <a href="index.html">Home</a>
                    </li>
                    
                    <li>
                        <a href="junk-yard.html">JunkYard</a>
                    </li>
                    
                    <li>
                        <a href="news.html">News</a>
                    </li>
                    
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    
                    <li>
                        <a href="jobs.html"  class="jobs js-jobs"  data-num="3">Jobs</a>
                    </li>
                    
                    <li>
                        <a href="press.html">Press</a>
                    </li>
                    
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
                
                <% include nav__lang %>
            </nav>
