
    <div class="c-newsletter anim anim--up">
        <div class="o-section o-section--paddings bg-gray">
            <div class="o-wrap o-wrap--narrow2">
                
                <article class="o-article o-article--margin o-article--big aligncenter">
                    <h2>Stay updated</h2>
                    
                    <p>Stay in the loop with Rebelia news and games updates</p>
                </article>
                
                <form action="#" class="c-newsletter__form">
                    <input type="email" placeholder="Your E-mail"><button type="submit" class="o-btn"><span>Subscribe</span></button>
                </form>
            </div>
        </div>
    </div>
