
    <div class="c-news u-toppadding">
        <div class="o-section o-section--paddings">
            <div class="o-wrap o-wrap--narrow2">
                
                <article class="o-article o-article--margin o-article--big aligncenter">
                    <h1>News</h1>
                    
                    <p>Read latest information about games updates,  company news and announcements from Rebelia Games.</p>
                </article>
                
                
                <% include filters--light %>
                
                <ul class="c-news__list">
                    <li class="c-news__item anim anim--up">
                        <div class="o-box">

                            <div class="o-avatar">
                                <div class="image">
                                    <img srcset="./img/photos/avatars/03.jpg 1x, ./img/photos/avatars/03@2x.jpg 2x" src="./img/photos/avatars/03.jpg" alt="">
                                </div>
    
                                <p class="category">JunkYard Simulator</p>
                            </div>
                            
                            
                            <h2 class="title">
                                <a href="news-single.html">We’re announcing a date for DLC of JunkYard Simulator.</a>
                            </h2>
                            
                            <a href="news-single.html">
                                <div class="o-photo">
                                    <img srcset="./img/photos/news/big/01.jpg 1x, ./img/photos/news/big/01@2x.jpg 2x" src="./img/photos/news/big/01.jpg" alt="">
                                </div>
                            </a>
                            
                            <article class="o-article">
                                <p>We finished work on the voice acting and we successfully implemented it to the game. We have been working on translations, so far we added to the game 5 of 11 languages. We also fixed a few bugs and we improved the game according to the PlayWay QA suggestions.</p>
    
                                <p>&nbsp;</p>
    
                                <p>We are going to send updated and improved game to the PlayWay Tester Center before September 25.</p>
                            </article>
                            
                            <div class="meta">
                                <p class="author">Adrian Kubasiak on September 11, 2019 </p>
                            </div>
                            
                            <% include share %>
                        </div>
                    </li>
                    
                    <li class="c-news__item anim anim--up">
                        <div class="o-box">
                            
                            <div class="o-avatar">
                                <div class="image">
                                    <img srcset="./img/photos/avatars/03.jpg 1x, ./img/photos/avatars/03@2x.jpg 2x" src="./img/photos/avatars/03.jpg" alt="">
                                </div>
    
                                <p class="category">Company</p>
                            </div>
                            
                            <h2 class="title">
                                <a href="news-single.html">We’re looking for a Level Designer. Join Rebelia Games!</a>
                            </h2>
                            
                            <a href="news-single.html">
                                <div class="o-photo">
                                    <img srcset="./img/photos/news/big/02.jpg 1x, ./img/photos/news/big/02@2x.jpg 2x" src="./img/photos/news/big/02.jpg" alt="">
                                </div>
                            </a>
                            
                            <article class="o-article">
                                <p>Praesent nibh tortor, viverra vel volutpat euismod, auctor vitae ipsum. Curabitur neque dolor, faucibus in ultrices ac, consequat pharetra ligula. Vivamus accumsan, sem nec semper blandit.</p>
                                
                                <p>&nbsp;</p>
    
                                <p>Vestibulum egestas, lacus a interdum blandit, est lorem vehicula felis, in gravida nulla arcu a est. <a href="#">Go to Level Designer offer</a></p>
                            </article>
                            
                            <div class="meta">
                                <p class="author">Adrian Kubasiak on September 11, 2019 </p>
                            </div>
                            
                            <% include share %>
                        </div>
                    </li>
                    
                    <li class="c-news__item anim anim--up">
                        <div class="o-box">
                            
                            <div class="o-avatar">
                                <div class="image">
                                    <img srcset="./img/photos/avatars/03.jpg 1x, ./img/photos/avatars/03@2x.jpg 2x" src="./img/photos/avatars/03.jpg" alt="">
                                </div>
    
                                <p class="category">JunkYard Simulator</p>
                            </div>
                            
                            <h2 class="title">
                                <a href="news-single.html">Two more languages for the JunkYard Simulator. 日本の and Svenska!</a>
                            </h2>
                            
                            <a href="news-single.html">
                                <div class="o-photo">
                                    <img srcset="./img/photos/news/big/03.jpg 1x, ./img/photos/news/big/03@2x.jpg 2x" src="./img/photos/news/big/03.jpg" alt="">
                                </div>
                            </a>

                            <article class="o-article">
                                <p>We finished work on the voice acting and we successfully implemented it to the game. We have been working on translations, so far we added to the game 5 of 11 languages. We also fixed a few bugs and we improved the game according to the PlayWay QA suggestions.</p>
                                
                                <p>&nbsp;</p>
    
                                <p>We are going to send updated and improved game to the PlayWay Tester Center before September 25.</p>
                            </article>
                            
                            <div class="meta">
                                <p class="author">Adrian Kubasiak on September 11, 2019 </p>
                            </div>
                            
                            <% include share %>
                        </div>
                    </li>
                </ul>
                
                <div class="c-pagination">
                    <a href="#" class="previous">Older posts</a>
                    <a href="#" class="next">Newer posts</a>
                </div>
                
            </div>
        </div>
    </div>
