
    <div class="c-newsletter anim anim--up">
        <div class="o-section o-section--paddings bg-gray">
            <div class="o-wrap o-wrap--narrow2">
                
                <article class="o-article o-article--margin o-article--big aligncenter">
                    <h2>Stay updated</h2>
                    
                    <p>Stay in the loop with Rebelia news and games updates</p>
                </article>


<div class="emaillist">
    <form action="#" method="post" class="es_subscription_form es_shortcode_form" id="es_subscription_form_1582495311" data-source="ig-es">

        <div class="es-field-wrap">
            <label>
                <input class="es_required_field es_txt_email" type="email" name="email" value="" placeholder="E-mail" required/>
            </label>
            
        </div>
                    
        <input type="submit" name="submit" class="es_subscription_form_submit es_submit_button es_textbox_button" id="es_subscription_form_submit_1582495311" value="Subscribe"/>
<!--

        <span class="es_spinner_image" id="spinner-image"><img src="http://rebelia.cutme.pl/wp-content/plugins/email-subscribers/lite/public/images/spinner.gif"/></span>
-->

        <div class="error-message">Please enter a valid email address.</div>
    </form>

    <span class="es_subscription_message" id="es_subscription_message_1582495311"></span>
</div>
        
                

<!--
                <form action="#" class="c-newsletter__form">
                    <input type="email" placeholder="Your E-mail">
                    <button type="submit" class="o-btn"><span>Subscribe</span></button>
                </form>
-->

            </div>
        </div>
    </div>
