
                <div class="c-press__latest anim anim--up" id="press">
                    
                    <article class="o-article">
                        <h4 class="title">Latest Press Releases</h4>
    
                        <table id="pressList"> 
                            <tr class="anim anim--up js-item">
                                <th>12/06/2019</th>
                                
                                <td>
                                    <a href="#">1 Etiam a arcu hendrerit, laoreet orci facilisis, feugiat enim</a>
                                </td>
                            </tr>
                            
                            <tr class="anim anim--up js-item">
                                <th>12/06/2019</th>
                                
                                <td>
                                    <a href="#">2 Manen eu purus vulputate, tempor nunc in, facilisis arcu. Maecenas convallis ornare sapien quis finibus</a>
                                </td>
                            </tr>
                            
                            <tr class="anim anim--up js-item">
                                <th>12/06/2019</th>
                                
                                <td>
                                    <a href="#">3 Sed mattis tempus massa, at vehicula orci ornare eget.</a>
                                </td>
                            </tr>
                            
                            <tr class="anim anim--up js-item">
                                <th>12/06/2019</th>
                                
                                <td>
                                    <a href="#">4 Cras auctor nisi porta consectetur convallis. In in placerat neque.</a>
                                </td>
                            </tr>
                            
                            <tr class="anim anim--up js-item">
                                <th>12/06/2019</th>
                                
                                <td>
                                    <a href="#">5 Proin id dapibus massa. Vestibulum sit amet tortor erat dignissim interdum. </a>
                                </td>
                            </tr>
                          
                            
                            
                            <tr class="anim anim--up js-item">
                                <th>12/06/2019</th>
                                
                                <td>
                                    <a href="#">6 Etiam a arcu hendrerit, laoreet orci facilisis, feugiat enim</a>
                                </td>
                            </tr>
                            
                            <tr class="anim anim--up js-item">
                                <th>12/06/2019</th>
                                
                                <td>
                                    <a href="#">7 Manen eu purus vulputate, tempor nunc in, facilisis arcu. Maecenas convallis ornare sapien quis finibus</a>
                                </td>
                            </tr>
                            
                            <tr class="anim anim--up js-item">
                                <th>12/06/2019</th>
                                
                                <td>
                                    <a href="#">8 Sed mattis tempus massa, at vehicula orci ornare eget.</a>
                                </td>
                            </tr>
                            
                            <tr class="anim anim--up js-item">
                                <th>12/06/2019</th>
                                
                                <td>
                                    <a href="#">9 Cras auctor nisi porta consectetur convallis. In in placerat neque.</a>
                                </td>
                            </tr>
                            
                            <tr class="anim anim--up js-item">
                                <th>12/06/2019</th>
                                
                                <td>
                                    <a href="#">10 Proin id dapibus massa. Vestibulum sit amet tortor erat dignissim interdum. </a>
                                </td>
                            </tr>
                            
                        </table>
                        
                    </article>
                    
                    <div class="c-press__pagination" id="pressPagination">
                        <a href="#" class="previous js-prev">Older posts</a>
                        <a href="#" class="next js-next">Newer posts</a>
                    </div>
                </div>
