
                <div class="c-press__latest anim anim--up">
                    
                    <article class="o-article">
                        <h4 class="title">Latest Press Releases</h4>
    
                        <table>
                            <tr class="anim anim--up">
                                <th>12/06/2019</th>
                                
                                <td>
                                    <a href="#">Etiam a arcu hendrerit, laoreet orci facilisis, feugiat enim</a>
                                </td>
                            </tr>
                            
                            <tr class="anim anim--up">
                                <th>12/06/2019</th>
                                
                                <td>
                                    <a href="#">Manen eu purus vulputate, tempor nunc in, facilisis arcu. Maecenas convallis ornare sapien quis finibus</a>
                                </td>
                            </tr>
                            
                            <tr class="anim anim--up">
                                <th>12/06/2019</th>
                                
                                <td>
                                    <a href="#">Sed mattis tempus massa, at vehicula orci ornare eget.</a>
                                </td>
                            </tr>
                            
                            <tr class="anim anim--up">
                                <th>12/06/2019</th>
                                
                                <td>
                                    <a href="#">Cras auctor nisi porta consectetur convallis. In in placerat neque.</a>
                                </td>
                            </tr>
                            
                            <tr class="anim anim--up">
                                <th>12/06/2019</th>
                                
                                <td>
                                    <a href="#">Proin id dapibus massa. Vestibulum sit amet tortor erat dignissim interdum. </a>
                                </td>
                            </tr>
                            
                            <tr class="anim anim--up">
                                <th>12/06/2019</th>
                                
                                <td>
                                    <a href="#">Maecenas fermentum quis nunc ac consectetur</a>
                                </td>
                            </tr>
                            
                            <tr class="anim anim--up">
                                <th>12/06/2019</th>
                                
                                <td>
                                    <a href="#">Sed mattis tempus massa, at vehicula orci ornare eget.</a>
                                </td>
                            </tr>
                            
                            <tr class="anim anim--up">
                                <th>12/06/2019</th>
                                
                                <td>
                                    <a href="#">Vivamus a ultrices velit. Interdum et malesuada fames ac ante ipsum</a>
                                </td>
                            </tr>
                        </table>
                    </article>
                </div>
