
    <div class="c-reviews anim anim--up">
        <div class="o-section o-section--paddings">
            <div class="o-wrap o-wrap--narrow2">
                
                <article class="o-article o-article--margin o-article--big aligncenter">
                    <h2>Game reviews</h2>
                    
                    <p>87% of the latest opinions are positive. We selected some of our favorites.</p>
                </article>
                
                <div class="main-carousel main-carousel--twocols main-carousel--withmobile anim anim--up" id="reviews">
                    <div class="carousel-cell">
                        <div class="c-reviews__item">
                            <div class="o-box">                            
                                <div class="content">
                                    <div class="o-avatar o-avatar--thumb">
                                        <div class="image">
                                            <img srcset="./img/photos/avatars/01.jpg 1x, ./img/photos/avatars/01@2x.jpg 2x" src="./img/photos/avatars/01.jpg" alt="">
                                        </div>
                                        
                                        <p class="name">NekroSilver</p>
                                    </div>
                                
                                    <p class="review">“Dipsum dolor sit amet, consectetur adipiscing elit. Proin purus ante, vehicula et varius vitae, laoreet quis nibh vestibulum quam mi. Vivamus euismod posuere nunc id porttitor.”</p>
                                </div>

                                <p class="more-reviews">
                                    <a href="#">Read reviews on Steam</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="carousel-cell">
                        <div class="c-reviews__item">
                            <div class="o-box">                            
                                <div class="content">
                                    <div class="o-avatar o-avatar--thumb">
                                        <div class="image">
                                            <img srcset="./img/photos/avatars/01.jpg 1x, ./img/photos/avatars/01@2x.jpg 2x" src="./img/photos/avatars/01.jpg" alt="">
                                        </div>
                                        
                                        <p class="name">NekroSilver</p>
                                    </div>
                                
                                    <p class="review">“Praesent commodo cursus purus. In hac habitasse platea dictumst. Sed eu quam in ipsum gravida aliquam. Morbi orci eros, luctus sit amet commodo ac, convallis eu nisi. Ut congue elit sed maximus dapibus”</p>
                                </div>

                                <p class="more-reviews">
                                    <a href="#">Read reviews on Steam</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="carousel-cell">
                        <div class="c-reviews__item">
                            <div class="o-box">                            
                                <div class="content">
                                    <div class="o-avatar o-avatar--thumb">
                                        <div class="image">
                                            <img srcset="./img/photos/avatars/01.jpg 1x, ./img/photos/avatars/01@2x.jpg 2x" src="./img/photos/avatars/01.jpg" alt="">
                                        </div>
                                        
                                        <p class="name">NekroSilver</p>
                                    </div>
                                
                                    <p class="review">“Dipsum dolor sit amet, consectetur adipiscing elit. Proin purus ante, vehicula et varius vitae, laoreet quis nibh vestibulum quam mi. Vivamus euismod posuere nunc id porttitor.”</p>
                                </div>

                                <p class="more-reviews">
                                    <a href="#">Read reviews on Steam</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="carousel-cell">
                        <div class="c-reviews__item">
                            <div class="o-box">                            
                                <div class="content">
                                    <div class="o-avatar o-avatar--thumb">
                                        <div class="image">
                                            <img srcset="./img/photos/avatars/01.jpg 1x, ./img/photos/avatars/01@2x.jpg 2x" src="./img/photos/avatars/01.jpg" alt="">
                                        </div>
                                        
                                        <p class="name">NekroSilver</p>
                                    </div>
                                
                                    <p class="review">“Praesent commodo cursus purus. In hac habitasse platea dictumst. Sed eu quam in ipsum gravida aliquam. Morbi orci eros, luctus sit amet commodo ac, convallis eu nisi. Ut congue elit sed maximus dapibus”</p>
                                </div>

                                <p class="more-reviews">
                                    <a href="#">Read reviews on Steam</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="carousel-cell">
                        <div class="c-reviews__item">
                            <div class="o-box">                            
                                <div class="content">
                                    <div class="o-avatar o-avatar--thumb">
                                        <div class="image">
                                            <img srcset="./img/photos/avatars/01.jpg 1x, ./img/photos/avatars/01@2x.jpg 2x" src="./img/photos/avatars/01.jpg" alt="">
                                        </div>
                                        
                                        <p class="name">NekroSilver</p>
                                    </div>
                                
                                    <p class="review">“Dipsum dolor sit amet, consectetur adipiscing elit. Proin purus ante, vehicula et varius vitae, laoreet quis nibh vestibulum quam mi. Vivamus euismod posuere nunc id porttitor.”</p>
                                </div>

                                <p class="more-reviews">
                                    <a href="#">Read reviews on Steam</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="carousel-cell">
                        <div class="c-reviews__item">
                            <div class="o-box">                            
                                <div class="content">
                                    <div class="o-avatar o-avatar--thumb">
                                        <div class="image">
                                            <img srcset="./img/photos/avatars/01.jpg 1x, ./img/photos/avatars/01@2x.jpg 2x" src="./img/photos/avatars/01.jpg" alt="">
                                        </div>
                                        
                                        <p class="name">NekroSilver</p>
                                    </div>
                                
                                    <p class="review">“Praesent commodo cursus purus. In hac habitasse platea dictumst. Sed eu quam in ipsum gravida aliquam. Morbi orci eros, luctus sit amet commodo ac, convallis eu nisi. Ut congue elit sed maximus dapibus”</p>
                                </div>

                                <p class="more-reviews">
                                    <a href="#">Read reviews on Steam</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
                <% include controls %>
                
            </div>
        </div>
    </div>
