
                        <div class="o-share anim anim--up">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="icon-heart"></i>
                                        <span>46</span>
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="#">
                                        <i class="icon-facebook-new"></i>
                                        <span>12</span>
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="#">
                                        <i class="icon-twitter-news"></i>
                                        <span>5</span>
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="#">
                                        <i class="icon-facebook-new"></i>
                                        <span>2</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

