
    <div class="c-shortnews anim anim--up">
        <div class="o-section o-section--paddings">
            <div class="o-wrap o-wrap--narrow2">
                
                <article class="o-article o-article--margin o-article--big aligncenter">
                    <h2>News</h2>
                    
                    <p>Read about game updates, new productions, development stages and company accouncments.</p>
                </article>
                
                <div class="main-carousel main-carousel--twocols anim anim--up" id="news">
                    <div class="carousel-cell">
                        <a href="news-single.html">
                            <figure class="o-box">
                                <div class="o-photo">
                                    <img srcset="./img/photos/news/small/01.jpg 1x, ./img/photos/news/small/01@2x.jpg 2x" src="./img/photos/news/small/01.jpg" alt="">
                                </div>
                                
                                <figcaption>
                                    <p class="category">JunkYard Simulator</p>
                                    <h3 class="title">Rebelia Games announces DLC for JunkYard Simulator!</h3>
                                    <p class="date">September 14, 2019</p>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    
                    <div class="carousel-cell">
                        <a href="news-single.html">
                            <figure class="o-box">
                                <div class="o-photo">
                                    <img srcset="./img/photos/news/small/02.jpg 1x, ./img/photos/news/small/02@2x.jpg 2x" src="./img/photos/news/small/02.jpg" alt="">
                                </div>
                                
                                <figcaption>
                                    <p class="category">Company</p>
                                    <h3 class="title">We’re looking for a Level Designer. Join Rebelia Games!</h3>
                                    <p class="date">September 14, 2019</p>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    
                    <div class="carousel-cell">
                        <a href="news-single.html">
                            <figure class="o-box">
                                <div class="o-photo">
                                    <img srcset="./img/photos/news/small/01.jpg 1x, ./img/photos/news/small/01@2x.jpg 2x" src="./img/photos/news/small/01.jpg" alt="">
                                </div>
                                
                                <figcaption>
                                    <p class="category">JunkYard Simulator</p>
                                    <h3 class="title">Rebelia Games announces DLC for JunkYard Simulator!</h3>
                                    <p class="date">September 14, 2019</p>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    
                    <div class="carousel-cell">
                        <a href="news-single.html">
                            <figure class="o-box">
                                <div class="o-photo">
                                    <img srcset="./img/photos/news/small/02.jpg 1x, ./img/photos/news/small/02@2x.jpg 2x" src="./img/photos/news/small/02.jpg" alt="">
                                </div>
                                
                                <figcaption>
                                    <p class="category">Company</p>
                                    <h3 class="title">We’re looking for a Level Designer. Join Rebelia Games!</h3>
                                    <p class="date">September 14, 2019</p>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    
                    <div class="carousel-cell">
                        <a href="news-single.html">
                            <figure class="o-box">
                                <div class="o-photo">
                                    <img srcset="./img/photos/news/small/01.jpg 1x, ./img/photos/news/small/01@2x.jpg 2x" src="./img/photos/news/small/01.jpg" alt="">
                                </div>
                                
                                <figcaption>
                                    <p class="category">JunkYard Simulator</p>
                                    <h3 class="title">Rebelia Games announces DLC for JunkYard Simulator!</h3>
                                    <p class="date">September 14, 2019</p>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    
                    <div class="carousel-cell">
                        <a href="news-single.html">
                            <figure class="o-box">
                                <div class="o-photo">
                                    <img srcset="./img/photos/news/small/02.jpg 1x, ./img/photos/news/small/02@2x.jpg 2x" src="./img/photos/news/small/02.jpg" alt="">
                                </div>
                                
                                <figcaption>
                                    <p class="category">Company</p>
                                    <h3 class="title">We’re looking for a Level Designer. Join Rebelia Games!</h3>
                                    <p class="date">September 14, 2019</p>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
                
                <% include controls %>
                
                <div class="o-more">
                    <a href="news.html" class="o-btn">Read all news</a>
                </div>
            </div>
        </div>
    </div>
