
    <div class="c-shortnews c-shortnews--static anim anim--up">
        <div class="o-section o-section--paddings">
            <div class="o-wrap o-wrap--narrow2">
                
                <article class="o-article o-article--big">
                    <h3>Read news</h3>
                </article>
                
                <div class="main-carousel main-carousel--twocols main-carousel--withmobile anim anim--up" id="news">
                                        
                    <div class="carousel-cell">
                        <% include shortnews__item %>
                    </div>
                    
                    <div class="carousel-cell">
                        <% include shortnews__item %>
                    </div>
                </div>
                
                <div class="o-more">
                    <a href="news.html" class="o-btn">Read all news</a>
                </div>
            </div>
        </div>
    </div>
