
    <div class="c-shortnews c-shortnews--static anim anim--up">
        <div class="o-section o-section--paddings">
            <div class="o-wrap o-wrap--narrow2">
                
                <article class="o-article o-article--big">
                    <h3>Read news</h3>
                </article>
                
                <div class="o-cols o-cols--2">
                    <div class="o-cols__item anim anim--left">
                        <% include shortnews__item %>
                    </div>  
                    
                    <div class="o-cols__item anim anim--left">
                        <% include shortnews__item %>
                    </div>                   
                </div>
                
                <div class="o-more">
                    <a href="news.html" class="o-btn">Read all news</a>
                </div>
            </div>
        </div>
    </div>
