
                <div class="c-social anim anim--up">
                    <ul>
                        <li>
                            <a href="#" class="icon-steam-about"></a>
                        </li>
                        
                        <li>
                            <a href="#" class="icon-facebook-about"></a>
                        </li>
                        
                        <li>
                            <a href="#" class="icon-discord-about"></a>
                        </li>
                        
                        <li>
                            <a href="#" class="icon-youtube-about"></a>
                        </li>
                        
                        <li>
                            <a href="#" class="icon-twitter-news"></a>
                        </li>
                        
                        <li>
                            <a href="#" class="icon-twitter-about"></a>
                        </li>
                    </ul>
                </div>
