
    <div class="c-story anim anim--up">
        <div class="o-section o-section--paddings">
            <div class="o-wrap o-wrap--narrow">
                
                <article class="o-article o-article--big">
                    
                    <section class="big js-split" data-splitting>
                        <p>Search everything. </p>
                        <p>Open it. Take it. Blast it. </p> 
                        <p>Paint it. Fix it. Assemble it. </p>
                        <p>Enjoy it. </p>
                    </section>
                    
                    <section class="normal anim anim--up">
                        <p>You’ll start with a big hangover, empty pocket and avalanche of garbage. Luckily you have one of the biggest Junk Yard in the area and the world revolves around scrap-metal and garbage.</p>
                    </section>
                </article>
                
                
            </div>
        </div>
    </div>
