
    <div class="c-technical">
        <div class="o-section o-section--paddings">
            <div class="o-wrap o-wrap--narrow2">

                <div class="o-box anim anim--up">
                    <article class="o-article">
                        <table>
                            <tr>
                                <th>Game information</th>
                                
                                <td>
                                    <p><strong>Number of Players:</strong> Single-player</p>
                                    <p><strong>Category:</strong> Simulator</p>
                                    <p><strong>Age Rating:</strong> Rated 4+</p>
                                    <p><strong>Developer:</strong> Rebelia Games</p>
                                    <p><strong>Publisher:</strong> <a href="#">PlayWay SA</a></p>
                                    <p><strong>Release date:</strong>  12/12/2019</p>
                                </td>
                            </tr>
                            
                            <tr>
                                <th>System Requirements </th>
                                
                                <td>
                                    <p><strong>OS:</strong> Windows(64-bit) 7 or Newer</p>
                                    <p><strong>Processor:</strong> Intel Core i3 3.0 GHz</p>
                                    <p><strong>Memory:</strong> 4 GB RAM</p>
                                    <p><strong>Graphics:</strong> NVidia GeForce GTX 660 2GB VRAM</p>
                                    <p><strong>DirectX:</strong> Version 9.0c</p>
                                    <p><strong>Storage:</strong> 20 GB available space</p>
                                </td>
                            </tr>
                            
                            <tr>
                                <th>Languages</th>
                                
                                <td>
                                    <p>English, Polish, French, Italian, German, Spanish - Spain, Simplified Chinese, Korean, Portuguese - Brazil, Russian</p>
                                </td>
                            </tr>
                        </table>
                    </article>
                </div>
            </div>
        </div>
    </div>
