
    <div class="c-top">
        <div class="c-top__bar">
            <div class="o-wrap o-wrap--narrow padding">
                
                <% include logo %>
                <% include nav %>

                <a href="javascript:window.history.back();" class="o-back">Back</a>
            </div>
        </div>
    </div>
