
    <div class="c-topbar js-topbar">
        <p>JunkYard Simulator is Available!</p>
        <a href="#" class="o-btn o-btn--small o-btn--outline">Buy on <i class="icon-steam-button"></i></a>
    </div>
