
    <div class="c-trailers c-trailers--big c-trailers--dark anim anim--up">
        <div class="o-section o-section--paddings">
            
            <article class="o-article o-article--margin o-article--big">
                <h2>YouTubers already played</h2>
            </article>
            

                    <div class="o-trailer o-trailer--big">
                        
                    <% include filters--dark %>
                    
                    <div class="main-carousel " id="played">
                        <div class="carousel-cell">
                            <a href="https://www.youtube.com/embed/917pnQrog9g?controls=0" class="o-trailer__video o-trailer__video--big o-trailer__video--youtube  js-video">
                            <img srcset="./img/photos/placeholders/already-played-.jpg 1x,
            				             ./img/photos/placeholders/already-played@2x.jpg 2x"
            				     src="./img/photos/placeholders/already-played.jpg" alt="">
                            </a>
                        </div>
                        
                        <div class="carousel-cell">
                            <a href="https://www.youtube.com/embed/917pnQrog9g?controls=0" class="o-trailer__video o-trailer__video--big o-trailer__video--youtube  js-video">
                            <img srcset="./img/photos/placeholders/already-played-.jpg 1x,
            				             ./img/photos/placeholders/already-played@2x.jpg 2x"
            				     src="./img/photos/placeholders/already-played.jpg" alt="">
                            </a>
                        </div>
                        
                        <div class="carousel-cell">
                            <a href="https://www.youtube.com/embed/917pnQrog9g?controls=0" class="o-trailer__video o-trailer__video--big o-trailer__video--youtube  js-video">
                            <img srcset="./img/photos/placeholders/already-played-.jpg 1x,
            				             ./img/photos/placeholders/already-played@2x.jpg 2x"
            				     src="./img/photos/placeholders/already-played.jpg" alt="">
                            </a>
                        </div>
                        
                        <div class="carousel-cell">
                            <a href="https://www.youtube.com/embed/917pnQrog9g?controls=0" class="o-trailer__video o-trailer__video--big o-trailer__video--youtube  js-video">
                            <img srcset="./img/photos/placeholders/already-played-.jpg 1x,
            				             ./img/photos/placeholders/already-played@2x.jpg 2x"
            				     src="./img/photos/placeholders/already-played.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    
                    <article class="o-article o-article--big">
                        <p>Thanks, that was funny to watch! <span>＼\ ٩( ᐛ )و /／</span></p>
                    </article>                    
                </div>
                

        </div>
    </div>
