
    <div class="c-were anim anim--up">
        <div class="o-section o-section--paddings">
            <div class="o-wrap o-wrap--narrow2">
                
                <article class="o-article o-article--margin o-article--big aligncenter">
                    <h2>We’re Rebelia Games</h2>
                    
                    <p>We used to check spots and niches that everybody ignors.</p>
                    <p>We love telling stories that no one would like to.</p>
                </article>
                
                <img srcset="./img/photos/office.jpg 1x, ./img/photos/office@2x.jpg 2x" src="./img/photos/office.jpg" alt="">
                
                <div class="o-more anim anim--up">
                    <a href="about.html" class="o-btn">Learn more</a>
                </div>
            </div>
        </div>
    </div>
