body {
	@include antialias;
	line-height: 1.6;
	text-rendering: optimizeSpeed;
	font: {
		family: $text;
		size: #{$base-font-size}px;
		weight: $regular;
	}
	color: $c-black-01;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
	
	.is-loaded & {
        @extend %anim;
    }
	
	&:hover,
    &:active,
    &:focus {
        outline: none;
    }
}

input {
    font-size: #{$base-font-size}px;
}

strong {
    font-weight: $bold;
}

::selection {
	background-color: var(--primary-color);
	color: white;
}


hr {
    width: calc(100% + 20px);
    background-color: $c-gray-03;
    border: none;
    box-shadow: none;
    margin: 0 -10px;
    height: 1px;
    
    @media ( min-width: $tablet_portrait + 1px ) {
    	width: calc(100% - 20px);
    	margin: 0 10px;
    }
}


u {
    text-decoration-color: var(--primary-color);
}


