html:not(.ie) {
    .is-loaded {
        .anim {
            &--delay1 {
                transition-delay: 150ms;
            }
            
            &--delay2 {
                transition-delay: 250ms;
            }
            
            &--delay3 {
                transition-delay: 350ms;
            }
            
            &--delay4 {
                transition-delay: 450ms;
            }
    
            transition: all 600ms ease-out;
            opacity: 0;
            
            
            
            &--left {
                transform: translate3d(-50px, 0, 0);
                
                @media ( max-width: $tablet_portrait + px ) {
                	transform: translate3d(0, 50px, 0);
                }
            }
            
            &--right {
                transform: translate3d(50px, 0, 0);
                
                @media ( max-width: $tablet_portrait + px ) {
                	transform: translate3d(0, 50px, 0);
                }
            }
            
            &--up {
                transform: translate3d(0, 50px, 0);
            }
            
            &--visible {
                transform: translate3d(0, 0, 0);
                opacity: 1;
            }
        }
    }
}


.is-hidden {
    display: none;
}



// Text

.aligncenter {
    text-align: center;
}

.aligntop {
    vertical-align: top;
}

.alignright {
    float: right;
    margin: 40px 0 40px 60px;
}

.color-primary {
    color: var(--primary-color);
}

.u-cover {
    transition: all 500ms ease-out;
    opacity: 1;
    
    .is-loaded & {
        opacity: 0;
    }
}



.u-toppadding {
    padding-top: 80px;
    
    
    
    @media ( max-width: $tablet_portrait + px ) {
    	padding-top: tablet_portrait(110);
    	
    	.back-visible & {
        	padding-top: tablet_portrait(190);
    	}
    }
}


.fade-out {
    opacity: 0;
}


// Tooltip in Jobs

[data-num] {
    @extend %rel;
    
    &:after {
        @extend %abs;
        @extend %flex;
        @extend %flex-xy;
        //right: -12px; 
        //top: -12px;
        top: -12px;
        right: 0;
        transform: translateX(50%);
        width: 21px; height: 21px;
        background-color: $c-pink-01;
        border-radius: 50%;
        font-size: rem(13);
        color: white;
        content: attr(data-num);
        
        .c-top & {
            @media ( max-width: $tablet + px ) {
                top: 0;
            }
        }
        
        .c-navfooter & {
            @media ( max-width: $tablet + px ) {
                top: 2px;
            }
        }
        
        @media ( max-width: $tablet_portrait + px ) {
        	width: tablet_portrait(38); height: tablet_portrait(38);
        	font-size: tablet_portrait(22);
        }
    }
}

// Disable next / prev buttons in GlideJs

.gbtn {
    display: none !important;
}

