.o-back {
    @extend %abs;
    display: none;
    left: 50px; bottom: -55px;
    letter-spacing: -1px;
    font: {
        size: rem(18);
        weight: $semibold;
    }
    color: $c-blue-01;
    
    @media ( max-width: $tablet_portrait + px ) {
        left: tablet_portrait(28);
        bottom: tablet_portrait(-110);
    	font-size: tablet_portrait(28);
    }
    
    .back-visible & {
        display: block;
    }
    
    &:before {
        margin-right: 5px;
        font: {
            family: $rebelia;
            size: rem(12);
        }
        content: "\e902";
        
        @media ( max-width: $tablet_portrait + px ) {
            font-size: tablet_portrait(18);
        }
    }
    
    &:hover {
        color: $c-blue-02;
    }
    
    &:active {
        color: $c-blue-03 !important;
    }
}
