.o-btn {
    @extend %btn;

	i {
    	margin-right: 15px;

    	&.icon-discord-button {
        	font-size: rem(34);
    	}
	}
	
	&--small {
    	height: 40px;
    	border-radius: 5px;
    	padding: 0 20px;
    	font-size: rem(18);
	}
	
	&--outline {
    	border: 2px solid white;
	}
	
	&--violet {
    	background-color: $c-violet-01;
	}
}

button {
    span {
        width: 100%;
	}
}
