.o-controls {
    @extend %flex;
    @extend %flex-y;
    margin-top: 20px;
    justify-content: flex-end;
    
    @media ( max-width: $tablet_portrait + px ) {
        display: none;
    	//justify-content: center;
    	//margin-top: 30px;
    }
    
    i {
        cursor: pointer;
    }

    .arrows {
        @extend %flex;
        margin-left: 10px;
        
        @media ( max-width: $tablet_portrait + px ) {
        	display: none;
        }
        
        i {
            @extend %anim;
            @extend %flex;
            @extend %flex-xy;
            width: 48px; height: 48px;
            margin-left: 10px;
            border: 3px solid $c-black-02;
            border-radius: 50%;
            color: $c-black-02;
            
            &:hover {
                background-color: $c-black-02;
                color: white;
            }
        }
        
        .icon-arrow-left {
            padding-right: 4px;
        }
        
        .icon-arrow-right {
            padding-left: 4px;
        }            
    }
    
    /*
.dots {
        @extend %flex;
        
        .dot {
            width: 10px; height: 10px;
            border: 1px solid $c-black-02;
            border-radius: 50%;
            
            &:not(:first-of-type) {
                margin-left: 10px;
            }
            
            @media ( max-width: $tablet_portrait + px ) {
                width: tablet_portrait(20); height: tablet_portrait(20);
            }
            
            &.is-selected {
                background-color: $c-black-02;
            }
        }
    }
*/
} 
