[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Rebeliga_font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-circle-left:before {
  content: "\e900";
}
.icon-arrow-circle-right:before {
  content: "\e901";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-discord-about:before {
  content: "\e904";
}
.icon-discord-button:before {
  content: "\e905";
}
.icon-download:before {
  content: "\e906";
}
.icon-facebook-about:before {
  content: "\e907";
}
.icon-facebook-new:before {
  content: "\e908";
}
.icon-heart:before {
  content: "\e909";
}
.icon-linkedin:before {
  content: "\e90a";
}
.icon-pin:before {
  content: "\e90b";
}
.icon-play:before {
  content: "\e90c";
}
.icon-playway:before {
  content: "\e90d";
}
.icon-steam-about:before {
  content: "\e90e";
}
.icon-steam-button:before {
  content: "\e90f";
}
.icon-steam-footer:before {
  content: "\e910";
}
.icon-tick:before {
  content: "\e911";
}
.icon-twitter-about:before {
  content: "\e912";
}
.icon-twitter-news:before {
  content: "\e913";
}
.icon-unreal:before {
  content: "\e914";
}
.icon-youtube:before {
  content: "\e915";
}
.icon-youtube-about:before {
  content: "\e916";
}

