.o-lang {
    @extend %flex;
    letter-spacing: -.5px;
    
    @media ( max-width: $tablet + px ) {
        justify-content: center;
    }

    li {
        margin: 0 5px;
        
        &:last-child {
            margin-right: 0;
        }
        
        &.current-lang {
            a {
                border-color: $c-black-02;
                font-weight: $semibold;
            }
        }
    }

    a {
        @extend %flex;
        @extend %flex-xy;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        border: 2px solid transparent;
        text-transform: uppercase;
        font: {
            size: rem(14);
            weight: $semibold;
        }
        color: $c-black-02;
        
        @media ( max-width: $tablet_portrait + px ) {
        	width: tablet_portrait(88); height: tablet_portrait(88);
            border-width: tablet_portrait(5);
        	font-size: tablet_portrait(36); 
        }
        
        &:hover {
            .desktop & {
                background-color: $c-black-02;
                color: white;
            }
        }
    }
}
