.o-share {
    ul {
        @extend %flex;
        @extend %flex-x;
        
        @media ( max-width: $tablet_portrait + px ) {
            width: 80%;
            margin: 0 auto;
        	justify-content: justify-content;
        }
        
        li {
            
            @media ( min-width: $tablet_portrait + 1px ) {
                margin: 0 15px;
            }
            
            @media ( max-width: $tablet_portrait + px ) {
            	text-align: center;
            }
            
            a {
                
                @media ( min-width: $tablet_portrait + 1px ) {
                	display: flex;
                	align-items: center;
                }
                
                &:hover {
                    .desktop & {
                     
                        .icon-heart {                            
                            color: $c-pink-02;                             
                        }   
                        
                        .icon-facebook-new,
                        .icon-twitter-news,
                        .icon-twitter-about {
                            color: $c-blue-02;                            
                        }
                                             
                    }
                }
                
                &:active {
                    .icon-heart {  
                        color: $c-pink-03 !important;
                    }
                    
                    .icon-facebook-new,
                    .icon-twitter-news,
                    .icon-twitter-about {
                        color: $c-blue-03 !important;                           
                    }
                }
            }
            
            span {
                font: {
                    size: rem(18);
                    weight: $medium;
                }
                color: $c-blue-07;
                
                @media ( max-width: $tablet_portrait + px ) {
                	display: block;
                	font-size: tablet_portrait(26);
                }
            }
        }
        
        [class^="icon-"] {
            margin-right: 10px;
            font-size: rem(36);
            
            @media ( max-width: $tablet_portrait + px ) {
            	font-size: tablet_portrait(64);
            }
        }
        
        .icon-heart {
            color: $c-pink-01;
        }
        
        .icon-facebook-new,
        .icon-twitter-news,
        .icon-twitter-about {
            color: $c-blue-01;
        }
    }
}