.o-trailer {
    display: block;
    text-align: center;

    &__video {
        @extend %rel;
        display: block;
        margin: 0 auto;
        
        &--shadow {
            box-shadow: 0 38px 55px rgba(#9D9D9D, .51),
                        0 0 17px #888;
   
            @media ( max-width: $tablet_portrait + px ) {
                box-shadow: 0 48px 70px rgba(#9D9D9D, .51),
                            0 0 22px #586986;
            }
        }      
          
        &:after {
            @extend %abs-pseudo;
            @extend %abs-xy;
            @extend %anim;
            transform-origin: left center;
        }        
        
        &:hover {
            &:after {
                transform: scale3d(1.1, 1.1, 1.1) translate3d(-50%, -50%, 0);
            }
        }
        
        &--big {
            width: 820px;
            
            @media ( max-width: $tablet_portrait + px ) {
                width: auto;
            	max-width: 560px;
            }
        }
        
        &--mechanics {
            width: 1104px;
        }

        &--small {
            width: 440px;
            
            @media ( max-width: $tablet_portrait + px ) {
                width: auto;
            	max-width: 560px;
            }
        }
        
        &--youtube {
            &:after {
                width: 90px; height: 63px;
                background: {
                    image: url(../img/icons/youtube.svg);
                    size: cover;
                }
                
                @media ( max-width: $tablet_portrait + px ) {
                	width: tablet_portrait(120); height: tablet_portrait(85);
                }
            }
        }
    }

    .o-article {
        span {
            white-space: nowrap;
        }
    }
}