.o-trailer {
    display: block;
    text-align: center;

    &__video {
        @extend %rel;
        display: block;
        margin: 0 auto;
        box-shadow: 0 38px 55px rgba(#9D9D9D, .51);
        
        &:after {
            @extend %abs-pseudo;
            @extend %abs-xy;
            @extend %anim;
            transform-origin: left center;
        }        
        
        &:hover {
            &:after {
                transform: scale3d(1.1, 1.1, 1.1) translate3d(-50%, -50%, 0);
            }
        }
        
        &--big {
            width: 820px;
        }
        
        &--mechanics {
            width: 1104px;
        }

        &--small {
            width: 440px;
        }
        
        &--youtube {
            &:after {
                width: 90px; height: 63px;
                background: {
                    image: url(../img/icons/youtube.svg);
                    size: cover;
                }
            }
        }
    }
}