.o-upload {      
    @extend %rel;
    @extend %flex-inline;
    @extend %flex-column;
	overflow: hidden;
	cursor: pointer;
	
	@media ( max-width: $tablet_portrait + px ) {
		width: 100%;
	}
    
    input[type='file'] {
		@extend %abs;
		opacity: 0;
		left: 0; top: 0;
		z-index: 10;
		display: block;
		cursor: inherit;        
		font-size: 999px;
		min-height: 100%;
		min-width: 100%;
    }
    
    &__img {
        height: 30px;
        width: 26px;
        background: {
            image: url(../img/icons/cv.svg);
            repeat: no-repeat;
            size: contain;
        }
        margin-right: 10px;
            
        @media ( max-width: $smartphone_portrait + px ) {
            width: 24px;
        }
    }
    
    &__title {
        @extend %flex;
        @extend %flex-y;
        height: 48px;
        border: 1px solid $c-gray-03;
        border-radius: 6px;
        padding: 0 20px 0 10px;
        
        @media ( max-width: $tablet_portrait + px ) {
            width: 100%;
            height: tablet_portrait(80);
        	border-radius: tablet_portrait(12);
        	padding: tablet_portrait(15) tablet_portrait(20);
        	font-size: tablet_portrait(28);
        }
        
        @media ( max-width: $smartphone_portrait + px ) {
        	padding: 8px 10px 5px 10px;
        }
        
        span {
            letter-spacing: -1px;
            font-weight: $medium;
            color: $c-blue-01;
        }
    }

    .wpcf7-not-valid {
        border: none !important;
        
        & + .o-upload {
            &__title {
                background-color: #FFF5F6 !important;
                border: 2px solid $c-red-02 !important;
            }
        }
    }
    
    .wpcf7-not-valid-tip {
        display: none;
        opacity: 0;
    }
    
    &.has-error {
        .o-upload {
            &__title {
                background-color: #FFF5F6 !important;
                border: 2px solid $c-red-02 !important;
            }
            
            
        }
        
        .wpcf7-not-valid-tip2 {
            display: block !important
        }
    }
}

