.o-upload {      
    @extend %rel;
    @extend %flex-inline;
	overflow: hidden;
	cursor: pointer;
	
	@media ( max-width: $tablet_portrait + px ) {
		width: 100%;
	}
    
    input[type='file'] {
		@extend %abs;
		opacity: 0;
		left: 0; top: 0;
		z-index: 10;
		display: block;
		cursor: inherit;        
		font-size: 999px;
		min-height: 100%;
		min-width: 100%;
    }
    
    &__title {
        @extend %flex;
        @extend %flex-y;
        height: 48px;
        border: 1px solid $c-gray-03;
        border-radius: 6px;
        padding: 0 20px 0 10px;
        
        @media ( max-width: $tablet_portrait + px ) {
            width: 100%;
            height: tablet_portrait(80);
        	border-radius: tablet_portrait(12);
        	padding: tablet_portrait(15) tablet_portrait(20);
        	border-width: 2px;
        	font-size: tablet_portrait(28);
        }
        
        img {
            margin-right: 10px;
            
            @media ( max-width: $tablet_portrait + px ) {
                width: auto;
                height: 100%;
            	//width: 43px;
            }
        }
        
        span {
            letter-spacing: -1px;
            font-weight: $medium;
            color: $c-blue-01;
        }
    }
}