.o-wrap {
    @extend %rel;
	//max-width: $base + 100px;
	max-width: $base;
	margin: 0 auto;	
	
	&.padding {
    	padding: {
        	left: 50px;
        	right: 50px;
    	}
	}
/*
	padding: {
    	left: 50px;
    	right: 50px;
	}
*/	

    &:not(.o-wrap--narrow) {
        &:not(.o-wrap--narrow2) {
        	@media ( max-width: $base + 80px ) {
        	    width: 100%;
        	}
        }
    }
	
	@media ( max-width: $tablet + px ) {
        padding: {
        	left: 20px;
        	right: 20px;
    	}
    }
    
    @media ( max-width: $smartphone_portrait + px ) {
        padding: {
        	left: 15px;
        	right: 15px;
    	}
    }
    
    
    
    &--narrow {
    	width: $base--narrow + 100px;
    	padding: {
        	left: 50px;
        	right: 50px;
    	}
    	
    	@media ( max-width: $base--narrow + 100px ) {
    		width: 100%;
    	}
    	
    	@media ( max-width: $base--narrow + 100px ) {
    		//max-width: 690px;
    	}
    	
    	@media ( max-width: $tablet_portrait + px ) {
    		width: 100%;
    		padding: {
        		left: grid(50, $tablet_portrait);
        		right: grid(50, $tablet_portrait);
    		}
    	}
    }
	
	&--narrow2 {
    	max-width: 920px;
    	
    	@media ( max-width: $tablet_portrait + px ) {
		    max-width: 690px;
            padding: 20px;
    	}
    	
    	@media ( max-width: 690px ) {
        	max-width: 650px;
            padding: 0;
    	}
	}
}
