.c-contact {
    
    .o-article {
        padding: {
            left: grid(40);
            right: gird(40);
        }
    }
    
    .o-section {
        
        @media ( max-width: $tablet + px ) {
        	padding: {
                left: 0;
                right: 0;
            }
        }
        
    }
}