.c-contact {
    .o-section {
        
        @media ( max-width: $tablet_portrait + px ) {
        	padding: {
                left: 0;
                right: 0;
            }
        }
        
    }
}