.c-footer {
    background-color: $c-black-03;
    padding: 40px 0 80px;
    
    aside {
        @media ( min-width: $tablet_portrait + 1px ) {
            &:not(:last-of-type) {
                width: grid(205, 1200);
            }
            
            &:last-of-type {
                flex: 1;
            }
        }

        h6 {
            margin-bottom: 5px;
            font: {
                size: rem(16);
                weight: $bold;
            }
            color: $c-gray-06;
            
            @media ( max-width: $tablet_portrait + px ) {
            	display: none;
            }
        }
        
        &:last-of-type {
            @media ( max-width: $tablet_portrait + px ) {
            	display: flex;
            	flex-direction: column;
            }
        }
    }    
    
    .o-lang {
        margin-bottom: 20px;
        
        @media ( max-width: $tablet_portrait + px ) {
        	margin-bottom: tablet_portrait(150);
        }
        
        li {
            &.is-active {
                a {
                    border-color: white;
                    color: white;
                }
            }
        }
        
        a {
            color: $c-gray-06;
            
            &:hover {
                .desktop & {
                    background-color: white;
                    color: $c-black-03;
                }
            }
        }
    }
    
    .o-logo {
        margin: -40px 50px 0 0;
        
        @media ( max-width: $tablet + px ) {
        	margin-right: 25px;
        }
        
        @media ( max-width: $tablet_portrait + px ) {
            margin: -40px auto tablet_portrait(60) auto;
        }
    }
    
    .o-wrap {
        @media ( min-width: $tablet_portrait + 1px ) {
        	display: flex;
        }
        
        @media ( max-width: $tablet_portrait + px ) {
        	text-align: center;
        }
    }
    
    .copyrights {
        margin-bottom: 20px;
        font: {
            size: rem(14);
            weight: $medium;
        }
        color: $c-gray-06;
        
        @media ( max-width: $tablet_portrait + px ) {
            order: 2;
        	font-size: tablet_portrait(32);
        }
    }
    
    .logotypes {
        @extend %flex;
        
        @media ( max-width: $tablet_portrait + px ) {
            justify-content: center;
            margin-bottom: tablet_portrait(50);
            justify-content: space-around;
        }

        li {
            @media ( min-width: $tablet_portrait + 1px ) {
                &:not(:last-child) {
                    margin-right: 50px;
                }
            }
            
            [class^="icon-"] {
                opacity: .3;
                font-size: rem(56);
                color: white;
                
                @media ( max-width: $tablet_portrait + px ) {
                    font-size: tablet_portrait(100);
                }
            }
        }
    }
}