.c-hometrailers {

    .o-article {

        h2 {
            @extend %lead--2;
            //margin-bottom: 30px;
            line-height: 1.25em;
            
            @media ( max-width: $tablet_portrait + px ) {
            	//margin-bottom: tablet_portrait(30);
            }
        }
        
        p {
            line-height: 1.35em;
            font-size: rem(24);
            
            @media ( max-width: $tablet_portrait + px ) {
            	font-size: tablet_portrait(32);
            }
        }
    }

    .c-filters {
        margin-bottom: 35px !important;
        margin-top: 25px;
    }
    
    .o-cols {
        padding: 10px 0;
        
        @media ( max-width: $tablet_portrait + px ) {
        	padding: tablet_portrait(10) 0;
        }

        &__item {
            
            @media ( min-width: $tablet + 1px ) {
            	width: 50%;
            }
  
            &:first-of-type {
                
                @media ( min-width: $tablet + 1px ) {
                    padding-right: 5px;
                }
                
                @media ( max-width: $tablet + px ) {
                	margin-bottom: 10px;
                }
                
                @media ( max-width: $tablet_portrait + px ) {
                	margin-bottom: tablet_portrait(10);
                }
                
                .o-article {
                    margin-bottom: 40px;
                    
                    @media ( max-width: $tablet_portrait + px ) {
                        margin-bottom: tablet_portrait(50);
                    }
                }
            }
            
            &:last-of-type {
                
                @media ( min-width: $tablet + 1px ) {
                    padding-left: 5px;
                }
                
                .o-trailer {
                    color: white;
                    
                    &__video {
                        box-shadow: none;
                    }
                    
                    h2 {
                        color: white;
                    }
                    
                    p {
                        opacity: .3;
                        color: white;
                        
                        @media ( max-width: $tablet_portrait + px ) {
                        	font-size: tablet_portrait(32);
                        }
                    }
                }  
            }
        }
    }
    
    .o-trailer {
        .o-article {
            p {
                line-height: 32px;
                font-size: rem(24);
                color: $c-blue-04;
            }
        }
    }

    .main-carousel {
        width: 440px;
        margin: 0 auto 30px auto !important;
        
        @media ( max-width: $tablet_portrait + px ) {
            width: auto;
        	max-width: 560px;
        }
    }
    
    .carousel-cell {
        width: 100%;
    }
    
    
}