.c-jobs {

    &__list {
        padding-top: 40px;

        ul {
            li:not(:last-child) {
                margin-bottom: 40px;
                
                @media ( max-width: $tablet_portrait + px ) {
                	margin-bottom: tablet_portrait(40);
                }
            }
        }
    }

    &__item {
        @extend %anim;
        @extend %rel;
        display: block;
        padding: 25px 30px;
        border: 1px solid $c-gray-03;
        border-radius: 12px;
        letter-spacing: -.5px;
        
        &:hover {
            .desktop & {
                box-shadow: 0 38px 55px rgba(#9D9D9D, .51);
                
                @media ( max-width: $tablet_portrait + px ) {
                	box-shadow: 0 tablet_portrait(18) tablet_portrait(35) rgba(#9D9D9D, .51);
                }
                
                &:after {
                    transform: translate3d(5px, -50%, 0);
                }
            }
        }
        
        @media ( max-width: $tablet_portrait + px ) {
        	font-size: tablet_portrait(28);
        	padding: tablet_portrait(25) tablet_portrait(30);
        }
        
        &:after {
            @extend %abs-pseudo;
            @extend %abs-y;
            @extend %anim;
            right: 30px;
            font: {
                family: $rebelia;
                size: rem(30);
            }
            content: "\e903";
            color: $c-blue-06;
            
            @media ( max-width: $tablet_portrait + px ) {
                right: tablet_portrait(25);
                font-size: tablet_portrait(30);
            }
        }
    }
    
    .o-wrap {
        @media ( max-width: $tablet_portrait + px ) {
        	padding: 0;
        }
    }

    .name {
        font-weight: $bold;        
        color: $c-blue-05;
    }
    
    .time {
        color: $c-black-02;
    }
    
    .title {
        @extend %lead--2;
        margin-bottom: .45em;
        font-weight: $extrabold;
        
        @media ( max-width: $tablet_portrait + px ) {
        	font-size: tablet_portrait(44);
        }
    }
}