@keyframes pulse {
    0%   {
        background: white;
    }
    50% {
        background: #efefef;
    }
    
    100% {
        background: white;
    }
}

.c-map {
    @extend %rel;
    margin: 80px 0 10px 0;
    
    @media ( max-width: $tablet_portrait + px ) {
    	width: calc(100% + 20px);
    	margin: tablet_portrait(80) -10px 10px -10px;
    }
    
    &__area {
        height: 540px;
        
        @media ( max-width: $tablet_portrait + px ) {
            height: tablet_portrait(838);
//            height: 686px;
        }

        &.is-loading {
            animation: pulse 1s infinite;
        }
    }
    
    &__wrap {
        @extend %abs;
        @extend %abs-x;
        top: 0;
        width: 860px;
        height: 100%;
        padding: 50px 20px 0 20px;
        text-align: right;
        
        @media ( max-width: 860px ) {
        	width: 100%;
        }
        
        @media ( max-width: $tablet_portrait + px ) {
        	padding-top: tablet_portrait(120);
        	padding-right: tablet_portrait(50);
        }
    }
    
    &__info {
        @extend %flex-inline;
        @extend %flex-column;
        @extend %anim;
        background-color: white;
        padding: 30px;
        border-radius: 12px;
        box-shadow: 0 12px 24px -6px rgba(#091E42, .25);
        letter-spacing: -1px;
        text-align: left;
        transform: translate3d(0, 50px, 0);
        opacity: 0;
        
        @media ( min-width: $tablet_portrait + 1px ) {
            min-width: 360px;
        }
        
        @media ( max-width: $tablet_portrait + px ) {
        	padding: tablet_portrait(30);
        }
        
        &.is-visible {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
        
        a {
            color: $c-blue-01;
            
            &:hover {
                color: $c-blue-02;
            }
            
            &:active {
                color: $c-blue-03 !important;
            }
        }
        
        address {
            margin-bottom: 30px;

            @media ( max-width: $tablet_portrait + px ) {
            	margin-bottom: tablet_portrait(80);
            }
        }
        
        h4 {
            @extend %lead--6;
            margin-bottom: .5em;
            font-weight: $bold;
            color: $c-pink-01;
            
            @media ( max-width: $tablet_portrait + px ) {
            	font: {
                	size: tablet_portrait(28);
                	weight: $semibold;
                }
            }
        }
        
        p {
                line-height: 30px;
                font-size: rem(18);
                
                @media ( max-width: $tablet_portrait + px ) {
                    line-height: 1.6em;
                	font-size: tablet_portrait(28);
                }
            }
        
        .golink {
            font: {
                weight: $semibold;
            }
/*
            
            
            
            &:after {
                margin-left: 5px;
                font: {
                    family: $rebelia;
                    size: rem(12);
                }
                content: "\e903";
            }  
*/          
        }
    }
}
