.c-news {
    
    &__list {
        & > li {
            margin-bottom: 30px;

            &:not(:last-of-type) {
                margin-bottom: 120px;
            }
        }
    }
    
    .c-filters {
        margin-bottom: 100px;
        
        .item {
            @media ( max-width: $tablet_portrait + px ) {
            	font-size: tablet_portrait(25);
            }
        }
    }    
    
    .o-avatar {
        margin-bottom: 10px;

        .image {
            width: 82px; height: 82px;
            margin: -41px auto 15px auto;
            
            @media ( max-width: $tablet_portrait + px ) {
            	width: tablet_portrait(82); height: tablet_portrait(82);
            	margin: tablet_portrait(-45) auto tablet_portrait(10) auto;
            }
        }       
    }
    
    .o-box {
        margin-top: 50px;
        border-radius: 18px;
        overflow: visible;
        
        .o-article {
            padding: 40px 80px;
            
            @media ( max-width: $tablet_portrait + px ) {
                padding: 30px tablet_portrait(50);
            }
            
            p {
                @media ( max-width: $tablet_portrait + px ) {
                	font-size: tablet_portrait(28);
                }
            }
        }

        figcaption {
            font-weight: $semibold;
        }
    }    

    .o-section {
        padding-bottom: 0;
    }
    
    .o-share {
        padding: 50px 0 50px 0;
    }
    
    .author {
        font-size: rem(18);
        opacity: .5;
        
        @media ( max-width: $tablet_portrait + px ) {
        	font-size: tablet_portrait(28);
        }
    }
    
    .meta {
        padding: 0 80px;
        
        @media ( max-width: $tablet_portrait + px ) {
            padding: 20px tablet_portrait(50);
        }
    }

    .title {
        margin-bottom: 40px;
        padding: 0 80px;
        line-height: 46px;
        text-align: center;
        font: {
            size: rem(32);
            weight: $bold;
        }
        color: $c-blue-05;
    }    
    
    

     
}