.c-pagination {
    @extend %flex;
    @extend %flex-spacebetween;
    margin-bottom: 100px;
    padding-top: 25px;
    
    a {
        letter-spacing: -1px;
        font: {
            size: rem(18);
            weight: $semibold;
        }
        color: $c-blue-01;
        
        &:hover {
            color: $c-blue-02;
        }
        
        &:active {
            color: $c-blue-03 !important;
        }
    }
    
    span {        
        &.next,
        &.previous {
            
            a {
                &:after,
                &:before {
                    font: {
                        family: $rebelia;
                        size: rem(12);
                    }
                    color: $c-blue-01;
                }
            }
        }
        
        &.previous {
            a {
                &:before {
                    margin-right: 5px;
                    content: "\e902";
                }
            }
        }
        
        &.next {
            a {
                &:after {
                    margin-left: 5px;
                    content: "\e903";
                }
            }
        }


    }
}