.c-press {    
    
    &__latest {
        
        @media ( max-width: $tablet_portrait + px ) {
        	margin: 0 auto tablet_portrait(20);
        }

        .title {
            margin-bottom: .4em;
            font: {
                size: rem(32);
                weight: $extrabold;
            }
            color: $c-blue-05;
            
            @media ( max-width: $tablet_portrait + px ) {
                line-height: 54px;
            	font-size: tablet_portrait(44);
            }
        }
        
        table {

            tr {
                border-bottom: 1px solid $c-gray-03;
                
                &:first-of-type {
                    border-top: 1px solid $c-gray-03;
                }
                
                @media ( max-width: $tablet_portrait + px ) {
                	display: flex;
                	flex-wrap: wrap;
                }
            }
            
            td {
                letter-spacing: -1px;
                font-size: rem(18);

                @media ( max-width: $tablet_portrait + px ) {
                     padding-top: 0;
                }
            }
            
            th {
                font-size: rem(16);
                
                @media ( max-width: $tablet_portrait + px ) {
                    padding-bottom: 0;
                    padding-top: 20px;
                    order: 2;
                }
            }

            th {
                width: 1px;
                padding-right: 20px;
                text-align: left;
                font-size: rem(16);
                color: $c-blue-05;
                white-space: nowrap;
                opacity: .5;
            }
            
            td, th {
                line-height: 1.9em;
                padding: {
                    top: 12px;
                    bottom: 12px;
                }
                font-weight: $medium;
                
                @media ( max-width: $tablet_portrait + px ) {
                    line-height: 1.6em;
                	font: {
                    	size: tablet_portrait(28);
                        weight: $regular;
                    }
                }
            }
            
            td {
                @media ( max-width: $tablet_portrait + px ) {
                    padding-bottom: 0;
                    padding-top: tablet_portrait(20);
                    
                }
            }
            
            th {
                @media ( max-width: $tablet_portrait + px ) {
                    width: 100%;
                    padding-top: 0;
                    padding-bottom: tablet_portrait(20);
                }
            }
        }
    }
    
    &__pagination {
        @extend %flex;
        @extend %flex-spacebetween;
        margin-top: 20px;
        
        @media ( max-width: $tablet_portrait + px ) {
        	margin-top: tablet_portrait(30);
        }
                
        a {
            letter-spacing: -1px;
            
            @media ( max-width: $tablet_portrait + px ) {
            	font: {
                	size: tablet_portrait(32);
                	weight: $medium;
                }
            }

            &:after,
            &:before {
                font: {
                    family: $rebelia;
                    weight: $semibold;
                    size: rem(12);
                }
                
                @media ( max-width: $tablet_portrait + px ) {
                	font: {
                    	size: tablet_portrait(22);
                    	weight: $medium;
                    }
                }
            }
            color: $c-blue-01;
            
            &:hover {
                color: $c-blue-02;
            }
            
            &:active {
                color: $c-blue-03 !important;
            }
            
            font: {
                size: rem(18);
                weight: $semibold;
            }
            
            &.previous {
                &:before {
                    margin-right: 10px;
                    content: "\e902";
                }
            }
            
            &.next {
                &:after {
                    margin-left: 10px;
                    content: "\e903";
                }
            }
        }
    }
    
    .c-shortnews {
        .o-section {
            padding-bottom: 0;
        }
    }
    
    .o-cols {
        @media ( min-width: $tablet_portrait + 1px ) and ( max-width: $tablet + px ) {
        	display: flex;
        }
    }
    
    .o-wrap {
        @media ( max-width: $tablet_portrait + px ) {
            padding: 0;
        }
    }
}