.c-story {
    background: {
        image: url(../img/photos/bg/story.jpg);
        size: cover;
        position: center;
    }
    padding-bottom: 30px;
    
    @media ( max-width: $tablet_portrait + px ) {
    	width: calc(100% + 20px);
    	margin: 0 -10px;
    }
        
    p {
        color: white;
    }
    
    .o-article {
        max-width: 860px;
    }
    
    .big {
        margin-bottom: 60px;
        
        @media ( max-width: $base--narrow + 100px ) {
        	margin-bottom: base-narrow(60);
        }
        
        @media ( max-width: $tablet_portrait + px ) {
        	margin-bottom: tablet_portrait(60);
        }

        p {
            line-height: 76px;
            line-height: 1.25em;
            font: {
                size: rem(62);
                weight: $bold;
            }
            
            @media ( max-width: $base--narrow + 100px ) {
            	font-size: base-narrow(62);
            }
            
            @media ( max-width: $tablet_portrait + px ) {
            	font-size: tablet_portrait(54);
            }
        }
    }
    
    .normal {
        
        p {
            line-height: 1.45em;
            font: {
                size: rem(24);
                weight: $medium;
            }
            
            @media ( max-width: $base--narrow + 100px ) {
            	font-size: base-narrow(24);
            }
            
            @media ( max-width: $tablet_portrait + px ) {
            	font-size: tablet_portrait(30);
            }
        }        
    }
}


.splitting.word {
    opacity: 0;
}

.startsplit {
    &.splitting .word {
        animation: slide-in 1.5s cubic-bezier(.5, 0, .5, 1) both;
        animation-delay: calc(60ms * var(--word-index));
    }
}

@keyframes slide-in {
    from {
        transform: translate3d(0, -50px, 0);
        opacity: 0;      
    }
}

