.c-top {
    @include z-index(top);
    @extend %abs;
    left: 0; top: 0;
    width: 100%; height: 96px;
	padding: 0 22px;
	
	@media ( min-width: $tablet_portrait + 1px ) {
		display: flex;
		align-items: center;
	}
	
	@media ( max-width: $tablet + px ) {
		position: fixed;
		padding: 0 10px;
	}
	
	@media ( max-width: $tablet_portrait + px ) {
		height: tablet_portrait(150);
        padding-top: tablet_portrait(20);
	}
	
	&__bar {
    	width: 100%;
    	height: 62px;
	    max-width: 1920px;
        margin: 0 auto;
    	background-color: $c-gray-02;
    	border-radius: 6px;
    	
    	@media ( max-width: $tablet_portrait + px ) {
        	height: tablet_portrait(88);
        }
	} 
	
	.o-lang {
    	margin: 0 0 0 auto;

        @media ( max-width: $tablet + px ) {
        	background-color: $c-gray-01;
        	padding: 15px;
        }
        
        @media ( max-width: $tablet + px ) {
        	padding: tablet_portrait(25);
        }
	}

	.o-logo {
    	@media ( min-width: $tablet_portrait + 1px ) {
        	margin-top: -17px;
    	}
	}
	
	.o-wrap {
    	@extend %flex;
        @extend %flex-y;
    	height: 100%;
    	
    	@media ( max-width: $base--narrow + 100px ) {
    		max-width: 100%;
    		//padding: 0;
    	}
	}
}
