.c-trailers {
    height: 100%;
    padding: 0 10px;
    text-align: center;
    
    @media ( min-width: $tablet_portrait + 1px ) {
    	padding: 0 30px;
    }
    
    &--big {
        
        .o-trailer {
            &__video {
                &:after {
                    width: 120px; height: 84px;
                    
                    @media ( max-width: $tablet_portrait + px ) {
                    	width: tablet_portrait(120); height: tablet_portrait(84);
                    }
                    
                }
            }
        }
        
        .main-carousel {
            max-width: 820px;
            margin: {
                left: auto;
                right: auto;
            }
            
            &:after {
                display: none;
                content: 'flickity.desktop';
                
                @media ( max-width: $tablet_portrait + px ) {
                    content: 'flickity.mobile';
                }
            }
            
            @media ( max-width: $tablet_portrait + px ) {
                width: auto;
            	max-width: 560px;
            }
            
            .carousel-cell {
                @media ( max-width: $tablet_portrait + px ) {
                    //width: 560px;
                    width: 100%;
                    max-width: 560px;
                }
            }
        }
    }
    
    &--dark {
        background-color: $c-black-03;
        color: white;
    }
    
    &--gray {
        background-color: $c-gray-01;
        
        p {
            color: $c-blue-04;
        }
    }

    .c-filters {
        margin-bottom: 50px;
        
        @media ( max-width: $tablet_portrait + px ) {
        	margin-bottom: tablet_portrait(50);
        }
    }
    
    .o-section {
        
    }
    
    .o-trailer {

        .o-article {
            
            p {
                color: $c-gray-08;
            }
        }
    }
    
    .main-carousel {
        margin-bottom: 50px;
        
        @media ( max-width: $tablet_portrait + px ) {
        	margin-bottom: tablet_portrait(50);
        }        
    }
    
    
}