.c-trailers {
    height: 100%;
    //padding: 0 10px;
    text-align: center;

    .c-filters,
    .o-article {
            
        @media ( max-width: $base + px ) {
        	padding: {
                left: grid(40);
                right: grid(40);
            }
        }
    }
    
    .o-trailer {
        &__video {
            
        }
    }
    
    
    &--big {
        padding: 0;        
        
        .o-trailer {
            &__video {
                &:after {
                    width: 120px; height: 84px;
                    
                    @media ( max-width: $tablet_portrait + px ) {
                    	width: tablet_portrait(120); height: tablet_portrait(84);
                    }
                    
                }
                
                /*
@media ( max-width: $tablet_portrait + px ) {
                    width: grid(560, $tablet_portrait - 20);
                }
*/
            }
        }
        
        .o-section {
            @media ( max-width: $tablet + px ) {
            	padding: {
                	left: 0;
                	right: 0;
            	}
            }
        }
        
        .main-carousel {
            width: 100%;
            max-width: 100%;
            
            @media ( max-width: $tablet_portrait + px ) {
                width: auto;
            }
        }
    }
    
    &--dark {
        background-color: $c-black-03;
        color: white;
        
        .main-carousel {
            width: 100%;
            max-width: 100%;
            
            .carousel-cell {
                width: 100%;
            }
            
            .flickity-page-dots {
                @media ( max-width: $tablet_portrait + px ) {
                    margin-bottom: 0;
                }
            }
        }
    }
    
    &--gray {
        background-color: $c-gray-01;
        
        p {
            color: $c-blue-04;
        }
    }

    .c-filters {
        margin-bottom: 50px;
        
        @media ( max-width: $tablet_portrait + px ) {
        	margin-bottom: tablet_portrait(50);
        }
    }
    
    .o-article {
        span {
            display: block;
        }
    }
    
    .o-trailer {

        .o-article {
            
            p {
                color: $c-gray-08;
            }
        }
    }
    

    

    .main-carousel {
        margin-bottom: 50px;
        
        @media ( max-width: $tablet_portrait + px ) {
        	margin-bottom: tablet_portrait(50);
        }        
    }
    
    
}