.c-watchtrailers {
    width: calc(100% + 20px);
    margin: 0 -10px;
    text-align: center;

    .o-trailer {
        
        
        &__video {
            
            @media ( min-width: $tablet_portrait + 1px ) and ( max-width: $tablet + px ) {
            	width: tablet(820);
            }


            &:after {
                width: 120px; height: 84px;
                
                @media ( max-width: $tablet_portrait + px ) {
                	width: tablet_portrait(120); height: tablet_portrait(84);
                }
                
            }
            
            &--big {
                @media ( max-width: $tablet_portrait + px ) {
                	max-width: 100%;
                	//width: grid(620, $tablet_portrait);
                }
            }
            
/*
            &--shadow {
                box-shadow: 0 26px 51px rgba(#818B9D, .51),
                            0 0 31px #586986;
       
                @media ( max-width: $tablet_portrait + px ) {
                	box-shadow: 0 53px 77px rgba(#818B9D, .51),
                                0 0 25px #586986;
                }
            }
*/
        }
    }

    .o-section {
       // @media ( max-width: $tablet_portrait + px ) {
        	padding: {
            	left: 0;
            	right: 0;
        	}
       // }
    }
    
    .o-wrap {
        overflow: hidden;
        max-width: 820px;
        padding: 0;
        
        @media ( min-width: $tablet_portrait + 1px ) and ( max-width: $tablet + px ) {
        	width: tablet(820);
        }
        
        @media ( max-width: $tablet_portrait + px ) {
        	max-width: 100%;
        	padding: 0;
        }
        
        & > .o-article {
            @media ( max-width: $tablet_portrait + px ) {
                padding: {
                    left: grid(50, $tablet_portrait);
                    right: grid(50, $tablet_portrait);
                }
            }
        }
    }
    
    
    
    .flickity-viewport {
        overflow: visible;
    }
    
    .main-carousel {
        .carousel-cell {
            width: 100%;

            @media ( max-width: $tablet_portrait + px ) {
            	transition: opacity .3s ease-out;
                width: grid(620, $tablet_portrait);
                opacity: .5;
                
                &.is-selected {
                    opacity: 1;
                }
            }
        }
        
        .flickity-page-dots {
            @media ( max-width: $tablet_portrait + px ) {
                margin-bottom: 0;
            }
        }
    }
/*
    
.main-carousel {
        .carousel-cell {

            @media ( max-width: $tablet_portrait + px ) {
            	transition: opacity .3s ease-out;
                width: grid(620, $tablet_portrait);
                opacity: .5;
                
                &.is-selected {
                    opacity: 1;
                }
            }
        }
        
        .flickity-page-dots {
            @media ( max-width: $tablet_portrait + px ) {
                margin-bottom: 0;
            }
        }
    }
*/
    
    
}