<% include ./src/includes/head %>
<body style="overflow: hidden">

    <% include ./src/includes/top %>

<div class="o-container">
    
    <div class="c-about u-toppadding">
        <div class="o-section o-section--paddings">
            <div class="o-wrap o-wrap--narrow2">
                
                <article class="o-article o-article--margin o-article--big aligncenter">
                    <h1>About us</h1>
                    
                    <p>We’re a game development company. We raised up Rebelia to tell people stories that no one would like to.</p>
                </article>
                
                
                <article class="o-article o-article--single">

                    <img srcset="./img/photos/office.jpg 1x, ./img/photos/office@2x.jpg 2x" src="./img/photos/office.jpg" alt="">
                    
                    <h2>Our Mission</h2>
                    
                    <p>We used to explore nooks and crannies which the most people are not interested in. We believe that sticking to the beaten path means that one will never be able to go someplace else. Catching interesting things in the totaly not interesting spots brings uncommon ideas. That’s excactly how we define our niche and around what we run our creation.</p>
                    
                    <p>&nbsp;</p>
                    
                    <p>We say openly it would be great to entertain people that are bored by mainstream topics. Who's trailers killed the dragon with a sword, builded a city,  farmed and trailers won all star wars. Here in the RebeliaGames - we are creating for that kind of people.</p>
                    
                    
                    <h2>Our Partners</h2>
                    
                    <p>
                        <img src=<%= require("./img/assets/logo-playway.png") %> alt="playway" width="128" class="alignright">
                        
                        <a href="#">PlayWay S.A.</a> is a polish company which develops, publishes and distributes games globally since 2011. The PlayWay is co-working with more that 40 studios at a time and so far they has sold over 16 milions units worldwide. In 2016 they had an IPO on The Warsaw Stock Exchange and they are the second most valueable company in the games industry of Poland.</p>
                        
                        
                    <h2>Company Information</h2>
                    
                    <p><a href="#">RebeliaGames</a> is based in Poland, Katowice. The studio was established in 2017 by the founder Adrian Kubasiak and <a href="#">PlayWay S.A.</a>, the investor and publisher of RebeliaGames.
Since then Rebelia finished his first game - The JunkYard Simulator which has been released in 11 languages on the Steam Platform.</p>

                    <p>&nbsp;</p>
                    
                    <p>Find us:</p>
                </article>


                                
                <% include ./src/includes/social %>

            </div>
        </div>
    </div>    

    <% include ./src/includes/newsletter %>
    
</div>


    <% include ./src/includes/footer %>
    

</body>
</html>


