<% include ./src/includes/head %>
<body style="overflow: hidden">

    <% include ./src/includes/top %>

<div class="o-container">
    
    <div class="c-contact u-toppadding">
        <div class="o-section o-section--toppadding">
            <div class="o-wrap o-wrap--narrow2">
                
                <article class="o-article o-article--big aligncenter">
                    <h1>Contact Rebelia</h1>
                    
                    <p>We invite all gamers to contact us through the Discord Channel</p>
                </article>

                <div class="o-more">
                    <a href="#" class="o-btn">
                        <i class="icon-discord-button"></i>
                        <span>Join Rebelia Discord</span>
                    </a>
                </div>
            </div>
            
            <div class="c-map">
                
                <div 
                    class="c-map__area is-loading js-map" 
                    data-lat="50.2437782" data-lng="18.9940014" data-marker=<%= require("./img/icons/pin.svg") %>>
                </div>
                
                <div class="c-map__wrap">
                    <div class="c-map__info js-mapinfo">
                        <h4>Rebelia Games Sp. z o.o.</h4>
                        
                        <address>
                            <p>J. Gallusa 10/115A</p>
                            <p>40-594, Katowice</p>
                            <p>Poland</p>
                            <p>
                                <a href="mailto:contact@rebeliagames.com">contact@rebeliagames.com</a>
                            </p>
                        </address>
                        
                        <a href="https://www.google.com/maps/place/Gallusa+10%2F115A,+Katowice/@50.2437782,18.9916914,17z/data=!3m1!4b1!4m5!3m4!1s0x4716ce5fd765e58b:0x55eb97764ed53868!8m2!3d50.2437782!4d18.9938854" target="_blank" rel="noopener" class="golink">Go to Google Maps</a>
                    </div>
                </div>
            </div>            
        </div>
    </div>

    <% include ./src/includes/newsletter %>
    
</div>

    <% include ./src/includes/footer %>
    

</body>
</html>


