<% include ./src/includes/head %>
<body class="back-visible" style="overflow: hidden">

    <% include ./src/includes/top %>

<div class="o-container">
    
    <div class="c-join u-toppadding">
        <div class="o-section o-section--paddings">
            <div class="o-wrap o-wrap--narrow2">
                
                <article class="o-article o-article--margin o-article--big aligncenter">
                    <h1>Join the Rebelia</h1>
                    
                    <p>We're a small team based in Katowice. Learn more about working in Rebelia Games.</p>
                </article>
                
                <article class="o-article o-article--single">
                    
                    <h2>3D Character Artist</h2>
                    
                    <p>We're looking for the craziest and unstoppable team players. Your motivation behind the willingness of joining us is more than interesting. A few lines about it helps you being noticed.</p>
                    
                    <p>&nbsp;</p>
                   
                    <h3>Be a Part of Tremendous Project!</h3>
                   
                    <p>Dear developer, if you love to shop online and save time, and the very thought of entering the same address and payment data drives you insane… It so happens that we’re developing a product for you and 2 billion people worldwide. We are starting our movement from USA market. You have a very limited chance to work on product you will love to talk about. Abracart changes the way people shop online and radically disrupts global e-commerce market.</p>
                   
                    <p>&nbsp;</p>
                   
                    <h3>Responsibilities</h3>
                    
                    <ul>
                        <li>Creating system architecture from scratch</li>
                        <li>Developing and delivering software for a product which change ecommerce</li>
                        <li>Developing and maintaining tools for support</li>
                        <li>Showing the right direction of development</li>
                        <li>Improving team with your knowledge and skills</li>
                    </ul>
                    
                    <p>&nbsp;</p>
                    
                    <p>At abracart, you will work with Product and Business people in Katowice to deliver software for 250M of people in USA.</p>
                    
                    <p>&nbsp;</p>
                    
                    <h3>We expect</h3>

                    <ul>                    
                        <li>Good Team Player with “can do” attitude</li>
                        <li>Knowledge of writing asynchronous software</li>
                        <li>Microservice architecture understanding</li>
                        <li>Knowledge of Python in enterprise scale solutions</li>
                        <li>Advanced problem-solving skills</li>
                    </ul>
                    
                    
                    <h3>Nice to have some of these</h3>

                    <ul>                    
                        <li>Cloud development experience (AWS or GCP)</li>
                        <li>Experience with high-performance databases</li>
                        <li>Experience in Big Data or ML</li>
                        <li>DevOps skills</li>
                        <li>Ability to programming different languages</li>
                    </ul>
                    
                    <p>&nbsp;</p>
                    
                    <p>Looking for information about Benefits? Follow the link to Jobs main page.</p>
                    
                </article>
                
                <div class="o-more">
                    <a href="#" class="o-btn js-apply">Apply now</a>
                </div>
            </div>
            
            
                
            <% include ./src/includes/appform %>
                
        </div>
    </div>

    <% include ./src/includes/newsletter %>

</div>

    <% include ./src/includes/footer %>
    

</body>
</html>


