<% include ./src/includes/head %>
<body class="junk" style="overflow: hidden">

    <% include ./src/includes/top %>
    <% include ./src/includes/header-junk %>
    
<div class="o-container">
    
    <% include ./src/includes/trailers--light %>
    <% include ./src/includes/story %>
    <% include ./src/includes/mechanics %>
    <% include ./src/includes/trailers--dark %>
    <% include ./src/includes/reviews %>
    
    <hr>
    
    <% include ./src/includes/technical %>
    <% include ./src/includes/newsletter %>

</div>

    <% include ./src/includes/footer %>



</body>
</html>


