<% include ./src/includes/head %>
<body class="back-visible" style="overflow: hidden">

    <% include ./src/includes/top %>

<div class="o-container">
    
    <div class="c-news u-toppadding">
        <div class="o-section o-section--paddings">
            <div class="o-wrap o-wrap--narrow2">
                
                <div class="o-box">
                    <div class="o-avatar">
                        <div class="image">
                            <img srcset="./img/photos/avatars/03.jpg 1x, ./img/photos/avatars/03@2x.jpg 2x" src="./img/photos/avatars/03.jpg" alt="">
                        </div>

                        <p class="category">JunkYard Simulator</p>
                    </div>
                    
                    <h1 class="title">We’re announcing a date for DLC of JunkYard Simulator.</h1>
                    
                    <div class="photo">
                        <img srcset="./img/photos/news/big/01.jpg 1x, ./img/photos/news/big/01@2x.jpg 2x" src="./img/photos/news/big/01.jpg" alt="">
                    </div>
                    
                    <article class="o-article">
                        <p>We finished work on the voice acting and we successfully implemented it to the game. We have been working on translations, so far we added to the game 5 of 11 languages. We also fixed a few bugs and we improved the game according to the PlayWay QA suggestions.</p>

                        <p>&nbsp;</p>

                        <p>We are going to send updated and improved game to the PlayWay Tester Center before September 25.</p>
                    </article>
                    
                    <div class="meta">
                        <p class="author">Adrian Kubasiak on September 11, 2019 </p>
                    </div>
                    
                    <% include ./src/includes/share %>
                </div>
            </div>
        </div>
    </div>
    
    <% include ./src/includes/shortnews--static %>    
    <% include ./src/includes/newsletter %>

</div>

    <% include ./src/includes/footer %>
    

</body>
</html>


