<% include ./src/includes/head %>
<body style="overflow: hidden">

    <% include ./src/includes/top %>
    
<div class="o-container">
    
    <% include ./src/includes/news %>
    <% include ./src/includes/newsletter %>

</div>

    <% include ./src/includes/footer %>
    

</body>
</html>


