<% include ./src/includes/head %>
<body style="overflow: hidden">

    <% include ./src/includes/top %>
    
    <div class="c-press u-toppadding">
        <div class="o-section o-section--paddings">
            <div class="o-wrap o-wrap--narrow2">
                
                <article class="o-article o-article--margin o-article--big aligncenter">
                    <h1>Press</h1>
                    
                    <p>If you need more information or would like to ask questions please contact us at <a href="mailto:press@rebeliagames.com">press@rebeliagames.com</a></p>
                </article>
                
                <% include ./src/includes/download %>
                <% include ./src/includes/press__latest %>
                <% include ./src/includes/shortnews--static %>
                
            </div>
        </div>
    </div>
    
    
    
    



    <% include ./src/includes/newsletter %>
    <% include ./src/includes/footer %>
    

</body>
</html>


